#banner {
  width: 1263px;
  height: 420px;
  box-sizing: border-box;
}

#banner .slider-w {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#banner .slider-w .slider-b {
  width: 9000px;
  position: absolute;
}

#banner .slider-w .slider-b a {
  display: block;
  float: left;
  height: 420px;
}

#banner .slider-w .slider-b a img {
  width: 1263px;
  height: 100%;
}

#banner .slider-w span {
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 210px;
  font-size: 3em;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(187, 167, 140, 0.8);
  transition: all 0.3s;
}

#banner .slider-w span:nth-of-type(1) {
  left: 65px;
}

#banner .slider-w span:nth-last-of-type(1) {
  right: 65px;
}

#banner .slider-w span:hover {
  background-color: #bba78c;
}

#banner .slider-w .slider-cl {
  position: absolute;
  bottom: 4px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 30px;
  z-index: 1;
  line-height: 30px;
}

#banner .slider-w .slider-cl li {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 4px;
  background-color: white;
  border: 4px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

#banner .slider-w .slider-cl li.active {
  border-color: #bba78c;
  background-color: #786450;
}

#main .m-wrapper {
  width: 1090px;
  margin: 0 auto;
}

#main .m-title {
  width: 1090px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#main .m-title a {
  color: #000;
}

#main .m-title a:hover {
  color: #b4a078;
  text-decoration: none;
}

#main .m-title .title-l h2 {
  display: inline-block;
  margin-right: 20px;
}

#main .m-title .title-l span {
  padding-top: 14px;
}

#main .m-title .title-r {
  padding-top: 13px;
}

#main .m-content-list {
  display: flex;
  justify-content: space-between;
}

#main .m-content-list li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #666;
}

#main .m-content-list li > a > div {
  width: 100%;
  position: absolute;
  z-index: 10;
}

#main .m-content-list li > a img {
  position: absolute;
  top: 0;
  z-index: 9;
}

#main .m-menufactures {
  margin-top: 30px;
}

#main .m-menufactures .m-content-list {
  font-size: 14px;
}

#main .m-menufactures .m-content-list li {
  width: 357px;
  height: 320px;
}

#main .m-menufactures .m-content-list li a div {
  padding: 20px 20px;
}

#main .m-menufactures .m-content-list li a div:nth-of-type(2) {
  top: 66px;
  padding-top: 0;
}

#main .m-menufactures .m-content-list li a div span {
  font-size: 20px;
}

#main .m-menufactures .m-content-list li a div .new {
  position: absolute;
  top: 14px;
  background: url(../img/18c.png) no-repeat 2px 4px;
  font-size: 12px;
  padding: 5px;
  color: #fff;
}

#main .m-menufactures .m-content-list li a div b {
  display: inline-block;
  padding-top: 17px;
  border-top: 1px solid #666;
}

#main .m-menufactures .small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main .m-menufactures .small > a {
  height: 155px;
}

#main .m-menufactures .large div {
  width: 100%;
  text-align: center;
}

#main .m-newProduct,
#main .m-hotProduct {
  margin-top: 60px;
}

#main .m-newProduct .m-content-list,
#main .m-hotProduct .m-content-list {
  font-size: 13px;
}

#main .m-newProduct .m-content-list li .log618a,
#main .m-hotProduct .m-content-list li .log618a {
  height: 48px;
  width: 48px;
  top: 5px;
  left: 5px;
}

#main .m-newProduct .m-content-list li b,
#main .m-hotProduct .m-content-list li b {
  color: #f00;
}

#main .m-newProduct .m-content-list li span,
#main .m-hotProduct .m-content-list li span {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

#main .m-newProduct .m-content-list li span:hover,
#main .m-hotProduct .m-content-list li span:hover {
  color: #b4a078;
}

#main .m-newProduct .m-content-list li {
  width: 265px;
  height: 344px;
}

#main .m-newProduct .m-content-list li > a > div {
  text-align: center;
  bottom: 10px;
}

#main .m-newProduct .m-content-list li > a > div:nth-of-type(1) {
  bottom: 34px;
}

#main .m-hotProduct {
  background-color: #f4f0ea;
  padding-bottom: 60px;
}

#main .m-hotProduct .m-title {
  padding-top: 58px;
}

#main .m-hotProduct .m-title .title-list {
  display: inline-block;
}

#main .m-hotProduct .m-title .title-list li {
  display: inline-block;
  width: 70px;
  height: 28px;
  margin-right: 55px;
  line-height: 26px;
  text-align: center;
}

#main .m-hotProduct .m-title .title-list li.active {
  border-bottom: 2px solid #b4a078;
  height: 26px;
}

#main .m-hotProduct .m-content-list {
  display: block;
  overflow: hidden;
}

#main .m-hotProduct .m-content-list li {
  float: left;
  height: 260px;
  width: 223px;
  margin: 0 0 10px 10px;
  background-color: #fff;
}

#main .m-hotProduct .m-content-list li:first-child {
  width: 390px;
  height: 530px;
  margin: 0;
}

#main .m-hotProduct .m-content-list li:first-child .list-pic {
  height: 360px;
}

#main .m-hotProduct .m-content-list li:first-child .list-pic img:first-child {
  height: 320px;
  width: 320px;
  margin: 40px 35px;
}

#main .m-hotProduct .m-content-list li:first-child .list-con {
  height: 91px;
  font-size: 18px;
  bottom: 20px;
}

#main .m-hotProduct .m-content-list li:first-child .list-con .conTage,
#main .m-hotProduct .m-content-list li:first-child .list-con .price,
#main .m-hotProduct .m-content-list li:first-child .list-con .name {
  margin-bottom: 10px;
}

#main .m-hotProduct .m-content-list li a .list-pic {
  height: 180px;
  border-bottom: 1px solid #F4F0EA;
  margin-bottom: 8px;
}

#main .m-hotProduct .m-content-list li a .list-pic img:first-child {
  width: 180px;
  height: 180px;
}

#main .m-hotProduct .m-content-list li a .list-con {
  height: 71px;
  bottom: 0;
  text-align: center;
}

#main .m-hotProduct .m-content-list li a .list-con .conTage {
  height: 22px;
}

#main .m-hotProduct .m-content-list li a .list-con .name {
  padding: 0 13px;
}

#main .m-hotProduct .m-content-list li a .list-con .conTage,
#main .m-hotProduct .m-content-list li a .list-con .price,
#main .m-hotProduct .m-content-list li a .list-con .name {
  margin-bottom: 3px;
}
