@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
input,
form,
fieldset,
legend,
header,
section,
footer,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  vertical-align: middle;
}

b,
strong {
  font-weight: normal;
}

input,
button,
textarea,
select,
a:focus {
  outline: none;
}

body {
  font: 12px/1.5 "Microsoft Yahei", "微软雅黑";
}
