@charset "UTF-8";
body {
  font: 12px "å¾®è½¯é›…é»‘", "Microsoft Yahei";
}

.wrapper {
  width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  background-color: #fff;
  box-shadow: 0 0 2px 0 #ccc;
}

header .top-nav {
  height: 36px;
  background-color: #333;
  line-height: 36px;
}

header .top-nav a {
  display: inline-block;
  height: 100%;
}

header .top-nav .left-tnav a {
  text-decoration: underline;
  color: #b4a078;
  padding-left: 25px;
  background: url(../img/16.gif) no-repeat 0 12px;
}

header .top-nav .left-tnav a:hover {
  color: #fff;
  text-decoration: none;
}

header .top-nav .right-tnav .list-rt {
  display: flex;
}

header .top-nav .right-tnav .list-rt li {
  position: relative;
  cursor: pointer;
  z-index: 11;
}

header .top-nav .right-tnav .list-rt li i {
  height: 16px;
  border-left: 1px solid #5c5c5c;
}

header .top-nav .right-tnav .list-rt li a {
  margin: 0 10px;
  color: #ccc;
}

header .top-nav .right-tnav .list-rt li a:hover {
  color: #fff;
  text-decoration: none;
}

header .top-nav .right-tnav .list-rt li a span {
  padding-left: 5px;
}

header .top-nav .right-tnav .list-rt li a:hover span {
  color: #ccc;
}

header .top-nav .right-tnav .list-rt li a:hover .white-app {
  color: #fff;
}

header .top-nav .right-tnav .list-rt li:nth-last-child(1) span {
  padding-right: 5px;
  color: #fff;
}

header .top-nav .right-tnav .list-rt li .subnav-t {
  display: none;
  box-shadow: 0 0 2px 0 #999;
  position: absolute;
  cursor: default;
  background-color: #fff;
}

header .top-nav .right-tnav .list-rt li .subnav-t em {
  border: 5px solid;
  border-bottom-color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}

header .top-nav .right-tnav .list-rt li .subnav-t img,
header .top-nav .right-tnav .list-rt li .subnav-t em,
header .top-nav .right-tnav .list-rt li .subnav-t a,
header .top-nav .right-tnav .list-rt li .subnav-t b {
  display: block;
}

header .top-nav .right-tnav .list-rt li .subnav-t img {
  margin: 10px;
}

header .top-nav .right-tnav .list-rt li .subnav-t b {
  height: 20px;
  line-height: 20px;
  color: #b4a078;
}

header .top-nav .right-tnav .list-rt li .subnav-t a {
  color: #999;
  margin: 0 10px;
  border-bottom: 1px solid #999;
}

header .top-nav .right-tnav .list-rt li .subnav-t a:nth-last-child(1) {
  border-bottom: none;
}

header .top-nav .right-tnav .list-rt li .subnav-t a:hover {
  color: #b4a078;
}

header .top-nav .right-tnav .list-rt li:hover .subnav-t {
  display: block;
}

header .search-nav {
  padding: 30px;
  color: #999;
}

header .search-nav .left-sn a {
  display: block;
  width: 124px;
  height: 60px;
  background: url(../img/13.png) no-repeat 0 -202px;
}

header .search-nav .right-sn {
  font-size: 14px;
  display: flex;
}

header .search-nav .right-sn .search-content,
header .search-nav .right-sn .shooping-car {
  height: 36px;
  border-radius: 36px;
  border: 1px solid #b4a078;
}

header .search-nav .right-sn .search-content {
  width: 532px;
  position: relative;
}

header .search-nav .right-sn .search-content i {
  position: absolute;
  left: 22px;
  top: 11px;
  z-index: 11;
}

header .search-nav .right-sn .search-content input:nth-of-type(1) {
  position: absolute;
  left: 14px;
  z-index: 10;
  width: 439px;
  height: 34px;
  border: none;
  padding: 2px 0 2px 30px;
}

header .search-nav .right-sn .search-content input:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 90px;
  height: 100%;
  border-radius: 34px;
  border: none;
  background-color: #b4a078;
  color: #fff;
}

header .search-nav .right-sn .shooping-car {
  width: 140px;
  height: 36px;
  background: url(../img/car.png) no-repeat 16px 6px, url(../img/13.png) no-repeat 104px -43px;
  padding-left: 24px;
  margin-left: 80px;
  color: #b4a078;
  text-indent: 24px;
  position: relative;
  line-height: 36px;
}

header .search-nav .right-sn .shooping-car b {
  color: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 32px;
  top: 0;
}

header .head-nav .list-h {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 30px;
  position: relative;
}

header .head-nav .list-h li {
  padding-right: 26px;
}

header .head-nav .list-h li a {
  display: block;
  color: #000;
  font-weight: bold;
  padding-bottom: 8px;
}

header .head-nav .list-h li b {
  position: relative;
  color: #999;
  top: -30px;
  left: 78px;
}

header .head-nav .list-h li.active > a,
header .head-nav .list-h li:hover > a {
  color: #b4a078;
  border-bottom: 3px solid #b4a078;
  text-decoration: none;
}

header .head-nav .list-h li .subnav-h {
  display: none;
  width: 1224px;
  padding: 20px;
  position: absolute;
  left: -72px;
  top: 30px;
  box-shadow: 0 0 2px 0 #ccc;
  background-color: #fff;
  z-index: 12;
}

header .head-nav .list-h li .subnav-h dl {
  float: left;
  width: 124px;
  margin-right: 24px;
}

header .head-nav .list-h li .subnav-h dl dt {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

header .head-nav .list-h li .subnav-h dl dd {
  width: 100%;
}

header .head-nav .list-h li .subnav-h dl dd a {
  color: #333;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

header .head-nav .list-h li .subnav-h dl dd a img {
  height: 50px;
  width: 50px;
}

header .head-nav .list-h li .subnav-h dl dd a span {
  display: block;
  padding-top: 15px;
}

header .head-nav .list-h li .subnav-h dl dd a:hover {
  color: #b4a078;
  text-decoration: none;
}

header .head-nav .list-h li:hover > .subnav-h {
  display: block;
}

footer {
  padding-top: 40px;
}

footer i {
  display: block;
  margin: 0 auto 10px;
  background: url(../img/11.png) no-repeat;
}

footer .ft1 {
  text-align: center;
  margin-bottom: 60px;
}

footer .ft1 .f1-list {
  display: flex;
  height: 204px;
}

footer .ft1 .f1-list > li {
  flex: 1;
  padding: 0 50px;
  font-size: 14px;
}

footer .ft1 .f1-list > li h4 {
  margin: 30px;
}

footer .ft1 .f1-list > li.item0 a {
  display: inline-block;
  width: 80px;
  height: 100px;
  color: #333;
  padding-top: 25px;
  margin-right: 20px;
  border: 1px solid #e8e8e8;
}

footer .ft1 .f1-list > li.item0 a i {
  width: 31px;
  height: 26px;
}

footer .ft1 .f1-list > li.item0 a:nth-of-type(1) i {
  background-position: 0 -290px;
}

footer .ft1 .f1-list > li.item0 a:nth-of-type(2) i {
  background-position: 0 -97px;
}

footer .ft1 .f1-list > li.item0 a:hover {
  color: #b4a078;
  text-decoration: none;
}

footer .ft1 .f1-list > li.item0 a:hover:nth-of-type(1) i {
  background-position: 0 -254px;
}

footer .ft1 .f1-list > li.item0 a:hover:nth-of-type(2) i {
  background-position: 0 -60px;
}

footer .ft1 .f1-list > li.item1 p {
  line-height: 2em;
  margin-bottom: 22px;
}

footer .ft1 .f1-list > li.item1 .f1-followUs span {
  position: relative;
  top: -12px;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list {
  display: inline-block;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: relative;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li i {
  width: 100%;
  height: 100%;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li:nth-of-type(1) i {
  background-position: 0 -470px;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li:nth-of-type(2) i {
  background-position: 0 -428px;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li:nth-of-type(3) i {
  background-position: 0 -326px;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li .subnav {
  display: none;
  box-shadow: 0 0 5px 0 #999;
  position: absolute;
  left: -36px;
  cursor: default;
  background-color: #fff;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li .subnav em {
  border: 5px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}

footer .ft1 .f1-list > li.item1 .f1-followUs .fU-list li:hover .subnav {
  display: block;
}

footer .ft1 .f1-list > li.item2 div img {
  display: block;
  margin: 0 auto;
}

footer .ft1 .f1-list > li.item2 div b {
  color: #b4a078;
}

footer .ft2 {
  background-color: #414141;
  padding-bottom: 40px;
}

footer .ft2 ul {
  overflow: hidden;
}

footer .ft2 ul li {
  float: left;
}

footer .ft2 .ft2-listF {
  color: #fff;
  padding: 40px;
  border-bottom: 1px solid #4f4f4f;
}

footer .ft2 .ft2-listF li {
  height: 50px;
  margin-right: 122px;
  font-size: 18px;
  line-height: 50px;
  vertical-align: top;
}

footer .ft2 .ft2-listF li i {
  display: inline-block;
  height: 50px;
  width: 50px;
}

footer .ft2 .ft2-listF li.item0 i {
  background-position: 0 -134px;
}

footer .ft2 .ft2-listF li.item1 i {
  background-position: 0 -368px;
}

footer .ft2 .ft2-listF li.item3 {
  margin: 0;
}

footer .ft2 .ft2-listF li.item3 i {
  background-position: 0 -194px;
}

footer .ft2 .ft2-listA a,
footer .ft2 .ft2-listA b,
footer .ft2 .ft2-listA span,
footer .ft2 p a,
footer .ft2 p b,
footer .ft2 p span {
  color: #999;
}

footer .ft2 .ft2-listA a:hover,
footer .ft2 p a:hover {
  color: #fff;
  text-decoration: none;
}

footer .ft2 .ft2-listA {
  width: 710px;
  margin: 20px auto;
}

footer .ft2 .ft2-listA li b {
  margin: auto 13px;
}

footer .ft2 p {
  text-align: center;
}

footer .ft2 p a,
footer .ft2 p span {
  padding-left: 5px;
}

footer .ft2 .f2-inf {
  padding: 11px 0;
}

footer .ft2 .f2-police img {
  height: 18px;
  width: 23px;
}
